@model PBL2.Models.Venda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movel.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pk_Venda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
